<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928830969809-gl05unuapk8djh8kkb1fgj5irk9slo0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928830969809-gl05unuapk8djh8kkb1fgj5irk9slo0t</string>
	<key>API_KEY</key>
	<string>AIzaSyDYEMDBg67yc3fzC1JuiC9Iczu8k4CxRlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>928830969809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perfume.application</string>
	<key>PROJECT_ID</key>
	<string>perfume-application</string>
	<key>STORAGE_BUCKET</key>
	<string>perfume-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928830969809:ios:47b76ffe337c64d15072f0</string>
</dict>
</plist>